<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.call-directory</string>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>CXCallDirectoryExtensionIdentifier</key>
			<string>com.yourcompany.SalesCallApp.CallDirectoryExtension</string>
		</dict>
	</dict>
	<key>NSFileProviderUsageDescription</key>
	<string>This app needs access to your files to upload information</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>This app needs your documents for information</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
</dict>
</plist>
